
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans	
		http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/context 
		http://www.springframework.org/schema/context/spring-context-4.0.xsd">


	<bean id="issuerConfigurationDao" class="org.tch.ste.infra.repository.BaseJpaDao">
		<constructor-arg value="org.tch.ste.domain.entity.IssuerConfiguration" />
	</bean>

	<bean id="batchFileTypeDao" class="org.tch.ste.infra.repository.BaseJpaDao">
		<constructor-arg value="org.tch.ste.domain.entity.BatchFileType" />
	</bean>


	<bean id="customerDao" class="org.tch.ste.infra.repository.BaseJpaDao">
		<constructor-arg value="org.tch.ste.domain.entity.Customer" />
	</bean>

	<bean id="arnDao" class="org.tch.ste.infra.repository.BaseJpaDao">
		<constructor-arg value="org.tch.ste.domain.entity.Arn" />
	</bean>

	<bean id="batchFileHistoryDao" class="org.tch.ste.infra.repository.BaseJpaDao">
		<constructor-arg value="org.tch.ste.domain.entity.BatchFileHistory" />
	</bean>

	<bean id="iisnBinDao" class="org.tch.ste.infra.repository.BaseJpaDao">
		<constructor-arg value="org.tch.ste.domain.entity.IisnBin" />
	</bean>

	<bean id="paymentInstrumentDao" class="org.tch.ste.infra.repository.BaseJpaDao">
		<constructor-arg value="org.tch.ste.domain.entity.PaymentInstrument" />
	</bean>

	<bean id="TokenBinMappingsDao" class="org.tch.ste.infra.repository.BaseJpaDao">
		<constructor-arg value="org.tch.ste.domain.entity.TokenBinMapping" />
	</bean>
	<bean id="permittedTokenRequestorDao" class="org.tch.ste.infra.repository.BaseJpaDao">
		<constructor-arg value="org.tch.ste.domain.entity.PermittedTokenRequestor" />
	</bean>
	<bean id="permittedTokenRequestorArnDao" class="org.tch.ste.infra.repository.BaseJpaDao">
		<constructor-arg
			value="org.tch.ste.domain.entity.PermittedTokenRequestorArn" />
	</bean>
	<bean id="tokenDao" class="org.tch.ste.infra.repository.BaseJpaDao">
		<constructor-arg value="org.tch.ste.domain.entity.Token" />
	</bean>

	<bean id="tokenRequestorConfigurationDao" class="org.tch.ste.infra.repository.BaseJpaDao">
		<constructor-arg
			value="org.tch.ste.domain.entity.TokenRequestorConfiguration" />
	</bean>

	<bean id="panBinDao" class="org.tch.ste.infra.repository.BaseJpaDao">
		<constructor-arg value="org.tch.ste.domain.entity.PanBin" />
	</bean>
	<bean id="detokenizationReportHistoryDao" class="org.tch.ste.infra.repository.BaseJpaDao">
		<constructor-arg value="org.tch.ste.domain.entity.DetokenizationReportHistory" />
	</bean>
	<bean id="permittedTokenRequestorArnTokenDao" class="org.tch.ste.infra.repository.BaseJpaDao">
		<constructor-arg value="org.tch.ste.domain.entity.PermittedTokenRequestorArnToken" />
	</bean>
	<!-- Lock out user to find last access id from this object. -->
	<bean id="reportHistoryDao" class="org.tch.ste.infra.repository.BaseJpaDao">
		<constructor-arg value="org.tch.ste.domain.entity.ReportHistory" />
	</bean>
</beans>