.authOption1 {
}

.authOption3 {
}

.authOption5 {
}

.tchUser {
	height:90px;
}

.issuerUser {
	
}

.lockUnlockBtn {
	
}

#TCH_SessionTimeout_Modal {
	display:none;
}

.issuerSaveDisplayModel {
	padding-top:40px;
	height:150px;
	padding-left:120px
}