<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:jee="http://www.springframework.org/schema/jee" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee.xsd
                           http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd">

	<jee:jndi-lookup id="ds_common" jndi-name="jdbc/tchmivcommon"
		cache="true" resource-ref="true" lookup-on-startup="false"
		proxy-interface="javax.sql.DataSource" />
		
	<jee:jndi-lookup id="ds_001" jndi-name="jdbc/tchmivdev001"
		cache="true" resource-ref="true" lookup-on-startup="false"
		proxy-interface="javax.sql.DataSource" />
		
	<jee:jndi-lookup id="ds_002" jndi-name="jdbc/tchmivdev002"
		cache="true" resource-ref="true" lookup-on-startup="false"
		proxy-interface="javax.sql.DataSource" />
		
	<jee:jndi-lookup id="ds_003" jndi-name="jdbc/tchmivdev003"
		cache="true" resource-ref="true" lookup-on-startup="false"
		proxy-interface="javax.sql.DataSource" />
		
	<bean id="steDataSource" class="org.tch.ste.infra.repository.SteDataSource">
		<constructor-arg>
			<map>
				<entry key="stePu_Common" value-ref="ds_common" />
				<entry key="stePu_001" value-ref="ds_001" />
				<entry key="stePu_002" value-ref="ds_002" />
			</map>
		</constructor-arg>
		<constructor-arg value="stePu_Common" />
	</bean>

	<bean id="entityManagerFactory" class="org.tch.ste.infra.repository.SteEntityManagerFactory">
		<constructor-arg>
			<map>
				<entry key="stePu_Common">
					<bean
						class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
						p:dataSource-ref="ds_common" p:persistenceUnitName="steUnitCommon"
						parent="baseEntityManagerFactory" />
				</entry>

				<entry key="stePu_001">
					<bean
						class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
						p:dataSource-ref="ds_001" p:persistenceUnitName="steUnit1"
						parent="baseEntityManagerFactory" />
				</entry>

				<entry key="stePu_002">
					<bean
						class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
						p:dataSource-ref="ds_002" p:persistenceUnitName="steUnit2"
						parent="baseEntityManagerFactory" />
				</entry>

				<entry key="stePu_003">
					<bean
						class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
						p:dataSource-ref="ds_003" p:persistenceUnitName="steUnit3"
						parent="baseEntityManagerFactory" />
				</entry>
			</map>
		</constructor-arg>
		<constructor-arg value="stePu_Common" />
	</bean>

	<bean id="baseEntityManagerFactory"
		class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean"
		abstract="true">

		<property name="jpaVendorAdapter">
			<bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter" />
		</property>

		<property name="jpaProperties">
			<props>
				<prop key="hibernate.dialect">org.hibernate.dialect.DB2Dialect</prop>
				<prop key="hibernate.format_sql">true</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="hibernate.temp.use_jdbc_metadata_defaults">false</prop>
			</props>
		</property>

		<property name="packagesToScan">
			<list>
				<value>org.tch.ste.domain.entity</value>
				<value>org.tch.ste.admin.domain.entity</value>
			</list>
		</property>

		<property name="mappingResources">
			<list>
				<value>META-INF/orm.xml</value>
			</list>
		</property>

	</bean>

	<!-- Post Processor -->
	<bean id="postProcessor"
		class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor" />
</beans>
