<div class="form-group">
<label for="name">Name:</label>
<input type="text" id="name" class="form-control" data-ng-model="information.name"/>
</div>	

<div class="form-group">
<label for="state">State:</label>
<input type="text" id="state" class="form-control" data-ng-model="information.state"/>
</div>	


<div class="form-group">
<label for="city">City:</label>
<input type="text" id="city" class="form-control" data-ng-model="information.city"/>
</div>	


<div class="form-group">
 <button class="btn btn-primary" data-ng-click="save()">Save</button>
 <button class="btn btn-primary" data-ng-click="cancel()">Cancel</button>
</div>