<div class="form-group">
          <input type="text" class="form-control" id="search" 
          placeholder="search artists" data-ng-model="search" />
        </div>
       <table class="table table-striped table-hover">
        <tbody>
          <tr>
              <th>Name</th>
              <th>State</th>
              <th>City</th>
          </tr>
          <tr data-ng-repeat="item in data | filter:search" data-ng-click="editProfile($index)">
              <td>{{item.name}}</td>
              <td>{{item.state}}</td>
              <td>{{item.city}}</td>
          </tr>
         </tbody>
      </table>

  <div class="form-group">
    <button data-ng-click="addProfile()" class="btn btn-primary">Add New Profile</button>
  </div>    